* {
  margin: 0;
  padding: 0;
}

:root {
  --fonte-titulo: "Dancing Script", handwriting;
  --fonte-texto: "Poppins", sans-serif;
}

header {
  background-color: #2d2424c1;
  font-family: var(--fonte-titulo);
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 3px 5px 4px #00000070;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 2px 3px 5px #00000070;
}

body {
  min-width: 100vh;
}

section {
  font-family: var(--fonte-texto);
  font-size: 1.2em;
}

section p {
  padding: 30px;
  text-align: justify;
  text-indent: 50px;
  line-height: 2em;
}

section.img {
  background-color: aqua;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100vh;
  min-height: 70vh;
  box-shadow: inset 5px 5px 18px #000000f3;
}

section#vulpes-zerda {
  background-image: url(../img/vulpes-zerda.jpg);
  background-position: center center;
  box-shadow: 5px 5px 6px #00000070;
}

section#vulpes-lagopus {
  background-image: url(../img/vulpes-lagopus.jpg);
  background-position: center center;
  box-shadow: 5px 5px 6px #00000070;
}

section#red-fox {
  background-image: url(../img/red-fox.jpg);
  background-position: top center;
  box-shadow: 5px 5px 6px #00000070;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: orangered;
}

footer {
  padding: 5px;
  background-color: #2d2424c1;
  color: #ffffff;
  font-family: var(--fonte-texto);
  text-align: center;
}
